
first_y/c_lang/extra_stuff/execs/

first_y/c_lang/lab1/execs/

first_y/c_lang/lab2/execs/

first_y/c_lang/lab3/execs/

first_y/c_lang/lab4/execs/

first_y/c_lang/lab5/execs/

first_y/c_lang/lab6/execs/

first_y/c_lang/lab7/execs/

first_y/c_lang/lab8/execs/

first_y/c_lang/lab9/execs/

first_y/c_lang/lab10/execs/

first_y/c_lang/lab11/execs/
